name: Build & SonarCloud
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    env:
      SONAR_ORG: sosiskakiller812
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Build Wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v4

      - name: Install Qt6
        run: |
          sudo apt-get update
          sudo apt-get install -y qt6-base-dev

      - name: Build lab8
        run: |
          rm -rf lab8/build
          mkdir lab8/build
          cmake -S lab8 -B lab8/build 
          build-wrapper-linux-x86-64 --out-dir lab8/build_wrapper cmake --build lab8/build --config Release

      - name: Build coursework3sem
        run: |
          rm -rf coursework3sem/build
          mkdir coursework3sem/build
          cmake -S coursework3sem -B coursework3sem/build 
          build-wrapper-linux-x86-64 --out-dir coursework3sem/build_wrapper cmake --build coursework3sem/build --config Release

      - name: SonarCloud scan lab8
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=sosiskakiller812_lab8
            -Dsonar.organization=${{ env.SONAR_ORG }}
            -Dsonar.sources=lab8
            -Dsonar.cfamily.compile-commands=lab8/build_wrapper/compile_commands.json
            -Dsonar.coverage.exclusions=**
            -Dsonar.inclusions=lab8/src/**,lab8/include/** 
            -Dsonar.cfamily.skipCoverage=true

      - name: SonarCloud scan coursework
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=sosiskakiller812_coursework
            -Dsonar.organization=${{ env.SONAR_ORG }}
            -Dsonar.sources=coursework
            -Dsonar.cfamily.compile-commands=coursework/build_wrapper/compile_commands.json
            -Dsonar.coverage.exclusions=**
            -Dsonar.inclusions=coursework/src/**,coursework/include/** 
            -Dsonar.cfamily.skipCoverage=true
